<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Estimate the cost Demo</title>
</head>

<body>
	<section class="de-content estimate">
		<section class="estimate-wrapper">
			<h1 class="estimate-headline">{{ module.title }}</h1>
			<p class="estimate-desc">
				{% inline_text field="description" value="{{ module.description }}" %}
			</p>
			<button class="estimate-btn" id="estimate-btn">
				{% inline_text field="button_text" value="{{ module.button_text }}" %}
			</button>
		</section>
		<section class="pricing">
			<div class="summary">
				<button class="summary-btn">
					<svg class="collapse" fill="white" width="20" xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 32.055 32.055">
						<defs />
						<path
							d="M3.968 12.061C1.775 12.061 0 13.835 0 16.027s1.773 3.967 3.968 3.967c2.189 0 3.966-1.772 3.966-3.967 0-2.192-1.777-3.966-3.966-3.966zm12.265 0c-2.188 0-3.968 1.773-3.968 3.965s1.778 3.967 3.968 3.967 3.97-1.772 3.97-3.967c-.002-2.191-1.78-3.965-3.97-3.965zm11.857 0c-2.192 0-3.969 1.774-3.969 3.967 0 2.19 1.774 3.965 3.969 3.965 2.188 0 3.965-1.772 3.965-3.965s-1.777-3.967-3.965-3.967z" />
					</svg>
				</button>
				<table class="summary-table" cellpadding="8" border-spacing="0">
					<thead class="summary-table__head">
						<tr class="summary-head">
							<th class="summary-head__desc">Description</th>
							<th class="summary-head__price">Price</th>
						</tr>
					</thead>
					<tbody class="summary-table__body"></tbody>
					<tfoot class="summary-table__footer">
						<tr class="summary-footer__total">
							<th class="summary-footer__total--label">Total :</th>
							<th class="summary-footer__total--sum"></th>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="progress-container">
				<div class="progress">
					<div class="progress-bar">
						<div class="progress-bar-price">$0</div>
					</div>
				</div>
			</div>
		</section>
		<section class="stages-wrapper">
			{% for item in module.a_cost_estimation %}
			<section class="stages stage" data-id="{{ item.form_field_id }}">
				<div class="stage__headline">{{ item.question }}</div>
				<div class="stage__options">
					{% for item2 in item.answers %}
					<div class="stage-option">
						<button class="btn btn--dark" data-main-answer="{{ item2.submitted_answer }}"
							data-price="{{ item2.price }}" data-question="{{ item.question }}"
							data-answer="{{ item2.answer }}" data-clickable="false">
							{{ item2.answer }}
						</button>
						<p class="stage-option__desc">{{ item2.description }}</p>
					</div>
					{% endfor %}
				</div>
			</section>
			{% endfor %}
			<section class="stages stage-end">
				<div class="stage__headline">Estimated Monthly Retainer</div>
				<div class="stage__desc">Your monthly retainer estimate is:</div>
				<div class="stage__estimate">$0</div>
				<div class="stage__form">
					<!--[if lte IE 8]>
						<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js" ></script>
					<![endif]-->
					<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
					<script>
						hbspt.forms.create({
							portalId: "6927784",
							formId: "e056eead-c8a4-42f7-992f-936d2229a35f",
							onFormSubmit: function ($form) {
								const stages = document.getElementsByClassName("stages");
								for (let index = 0; index < stages.length - 1; index++) {
									const dataId = stages[index].getAttribute("data-id");
									const selectedAnswer = stages[index].querySelector('.stage-option [data-clickable="true"]');
									$form[0][dataId].value = selectedAnswer.getAttribute("data-main-answer");
								}
							},
						});
					</script>
				</div>
				<div class="estimate-summary-wrapper">
					<div class="estimate-summary__headline">Summary</div>
					<div class="estimate-summary-table"></div>
				</div>
			</section>
			<button class="stage-prev">← return to previous step</button>
		</section>
	</section>

	<script src="./script.js"></script>
</body>

</html>
