.pricing,
.stages {
	display: none;
}

.estimate {
	padding: 32px 16px;
	font-family: 'Roboto';
}

.estimate-headline {
	color: #34495e;
	font-size: 42px;
	margin: 0;
}

.estimate-desc {
	color: #bdc3c7;
	font-size: 18px;
	margin: 15px 0;
}

.estimate-btn {
	background-color: #1ABC9C;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
	font-size: 15px;
	color: white;
	font-weight: 400;
	line-height: 1.4;
	border-radius: 4px;
	padding: 10px 15px;
	border: none;
	cursor: pointer;

	&:hover {
		opacity: .7;
	}
}

.stages {
	background: #ecf0f1;
	padding: 60px 32px;
	text-align: center;
	border-radius: 16px;
	max-width: 700px;
	margin: 60px auto 0;
}

.summary {
	text-align: right;
	position: relative;
}

.summary-btn {
	background-color: #bdc3c7;
	border: none;
	width: 43px;
	height: 43px;
	border-radius: 24px;
	cursor: pointer;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.summary-table {
	transform: translate(40%, -50%) scale(0);
	max-width: 360px;
	width: 100%;
	text-align: left;
	font-size: 14px;
	margin-left: auto;
	position: absolute;
	transition: all ease .8s;
	border-spacing: 0;
	border: 1px solid #1ABC9C;
	background: #fff;
	right: -5px;
	top: calc(100% + 24px);
	opacity: 0;
	z-index: 1;

	&:before {
		content: " ";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 16px 16px 16px;
		border-color: transparent transparent #1ABC9C transparent;
		position: absolute;
		bottom: calc(100% + 1px);
		right: 10px;
		float: right;
	}

	&--show {
		opacity: 1;
		transform: translate(0, 0) scale(1);
	}
}

.summary-table__head {
	background: #1ABC9C;
	color: #fff;
}

.summary-table__body {
	tr:nth-child(odd) {
		background-color: #ccc;
		color: #fff;
	}

	tr:nth-child(even) {
		background-color: #ddd;
	}
}

.summary-table__footer {
	text-align: right;
}

.summary-table__body {
	text-align: center;
}

.estimate-wrapper {
	text-align: center;
}

.pricing {
	margin-top: 60px;
}

.progress-container {
	margin-top: 60px;
}

.progress {
	background: #ebedef;
	height: 28px;
	width: 95%;
	margin: 0 auto;
	border-radius: 25px;
}

.progress-bar {
	position: relative;
	width: 0%;
	background: #1ABC9C;
	height: 100%;
	border-radius: 25px;
}

.progress-bar-price {
	width: 78px;
	height: 78px;
	border-radius: 50%;
	background: #1ABC9C;
	align-items: center;
	top: 50%;
	transform: translateY(-50%);
	justify-content: center;
	display: flex;
	position: absolute;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
	right: calc(0% - 48px);
	color: #fff;
}

.stage__headline {
	font: 700 28px/1.2 'Roboto';
	margin-bottom: 24px;
}

.stage__options {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 20px;

	.btn {
		background: none;
		border: none;
		cursor: pointer;

		&--dark {
			background-color: #1f2830;
			box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
			transition: box-shadow .25s ease-in-out;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.4;
			border-radius: 4px;
			padding: 10px 15px;
			color: #fff;

			&:hover {
				opacity: .7;
			}
		}
	}
}

.stage-option__desc {
	font-size: 13px;
	color: #bdc3c7;
	margin: 16px 0;
}

.stages-wrapper {
	position: relative;
}

.stage-prev {
	background: none;
	border: none;
	position: absolute;
	cursor: pointer;
	bottom: 32px;
	left: 50%;
	transform: translateX(-50%);
	display: none;

	&--show {
		display: inline-block;
	}
}
